---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import { getCollection } from 'astro:content';
import createSlug from '../lib/createSlug';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 1);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-10">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Arham Humayun</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Tinkerer</div>
    <div class="py-2">
      <text class="text-lg">
        Software Engineer with a passion for scalable systems, intuitive web
        applications, and cutting-edge technology. I love working on AI-driven
        projects and building tools that simplify complex problems. Always
        learning, always improving, and excited to shape the future of tech.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/arham-humayun"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {'</>'}</div>
  </div>

  <HorizontalCard
    title="Monster Labs"
    img="/monsterlabs.webp"
    desc="I founded MonsterLabs, an AI-powered SaaS platform for D&D enthusiasts, which currently has paying subscribers."
    url="https://monsterlabs.app"
    badge="SaaS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Journable"
    img="/journable.webp"
    desc="Winner of Best use of Machine Learning at the 2022 Calgary Hacks Hackathon. A modern journaling application powered by AI and machine learning to make writing journals more accessible for everyone."
    url="https://devpost.com/software/journable"
    badge="Hackathon"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={'/blog/' + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
